.windows {
    height: 70%;
    border: 1px solid rgba(32, 160, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 20%;
    z-index: 1000;
    position: absolute;
    right: 60px;
    top: 15%;
}

.windows .title {
    height: 40px;
    text-align: left;
    line-height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(32, 160, 255, 0.3);
}

.windows .title .title-set {
    font-weight: bolder;
    padding-left: 10px;
    font-size: 15px;
    font-family: Microsoft YaHei;
}

.windows .operation {
    height: 38px;
    line-height: 38px;
    width: 100%;
    border-bottom: #dedede 1px solid;
}

.windows .operation .operation-list {
    list-style: none;
}

.windows .operation .operation-list-member {
    height: 38px;
    cursor: pointer;
    text-align: center;
}

.windows .operation .operation-list-member .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    color: black;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 999;
    top: -50%;
    left: 60%;
}

.windows .operation .operation-list-member:hover .tooltiptext {
    visibility: visible;
}

.windows .operation .operation-list-member .operation-list-member-icon {
    color: #fff;
    line-height: 38px;
    font-size: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.windows .toolbar {
    height: calc(100% - 78px);
    width: 100%;
}

.windows .toolbar .toolbar-first {
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: auto;
}

.windows .toolbar .toolbar-first .select {
    margin: 10px 15px 0px 15px;
}

.windows .toolbar .toolbar-first .select .select-form-control {
    padding: 0px;
    border-radius: 2px;
    background-color: rgba(63, 72, 84, .6);
    color: #fff
}

.windows .toolbar .toolbar-first .select_list .sys-draw {
    height: 60px;
    border: 1px solid #fff;
    margin: 4%;
    text-align: center;
    line-height: 60px;
    background-color: rgba(63, 72, 84, 0.6);
    font-size: 1em;
    cursor: pointer;
}

.windows .toolbar .toolbar-first .select_list .sys-draw:hover {
    border: 2px solid rgb(51, 116, 224);
}

.col-xs-2,
.col-xs-3 {
    padding-left: 6px;
    padding-right: 6px;
}

.windows .bottom {
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.windows .bottom ul {
    background-color: rgba(63, 72, 84, 0.6);
    border-top: 1px solid #ddd;
    height: 30px;
}

.windows .bottom .bottom-list-li {
    display: inline-block;
    width: 55px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    color: grey;
    box-sizing: border-box;
    cursor: pointer;
}

.windows .bottom .active {
    color: #fff;
    background-color: rgba(63, 72, 84, 0.6);
    border: 1px solid #ddd;
    border-radius: 0 0 6px 6px;
    font-weight: bolder;
    margin-top: -1px;
}

.windows .toolbar .toolbar-first::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.windows .toolbar .toolbar-first::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 3px;
    background-color: rgb(97, 93, 93);
}

.windows .toolbar .toolbar-first::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}