/**
* 左边栏select框样式
*/
.navDataSet .set-html-info-select {
  height: 24px;
  width: 90%;
  padding: 0px;
  font-size: 10px;
  background-color: rgba(63, 72, 84, .6);
  color: #fff
}

.navDataSet .set-html-info-textarea {
  margin-right: 10px;
  width: 90%;
  padding: 0px;
  background-color: rgba(63, 72, 84, .6);
  color: #fff
}

.navDataSet .set-html-info-input {
  margin-right: 10px;
  width: 90%;
  height: 24px;
  padding: 0px;
  background-color: rgba(63, 72, 84, .6);
  color: #fff
}
/* 
* 进度条样式
*/
#progress-alpha {
  position: relative;
  width: calc(100% - 5px);
}
#progress-bg-alpha {
  height: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f2f2f2;
}
#progress-bar-alpha {
  background: #5FB878;
  width: 0;
  height: 10px;
  border-radius: 5px;
}
#progress-btn-alpha {
  width: 8px;
  height: 8px;
  border-radius: 5px;
  position: absolute;
  background: #fff;
  left: 0px;
  margin-left: -5px;
  top: -2px;
  cursor: pointer;
  border: 1px #ddd solid;
  box-sizing: border-box;
}
#text-alpha {
  text-align: center;
}
#progress-btn-alpha:hover {
  border-color: #F7B824;
}
.navDataSet .toolbar .toolbar-third{
  height: 100%;
  overflow-y: auto;
}
/* 
* 样式页下拉轴样式
*/
.navDataSet .toolbar .toolbar-third::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.navDataSet .toolbar .toolbar-third::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  background-color: rgb(97, 93, 93);
}

.navDataSet .toolbar .toolbar-third::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

/**
* 关闭icon的样式
*/
.navDataSet .title .closeIcon {
  float: right;
  padding-right: 10px;
  color: #fff;
}

/**
  * 鼠标移动到x上的时候改变颜色
  */
.navDataSet .title .closeIcon:hover {
  color: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

/**
  * 主体样式
  */
.navDataSet {
  height: 70%;
  border: 1px solid rgba(32, 160, 255, 0.6);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  width: 20%;
  z-index: 1000;
  position: absolute;
  left: 50px;
  top: 15%;
}

/**
  * 标题样式
  */
.navDataSet .title {
  height: 40px;
  text-align: left;
  line-height: 40px;
  width: 100%;
  border-bottom: 1px solid rgba(32, 160, 255, 0.3);
}

.navDataSet .title .title-set {
  font-weight: bolder;
  padding-left: 10px;
  font-size: 15px;
  font-family: Microsoft YaHei;
}

.col-xs-2,
.col-xs-3 {
  padding-left: 6px;
  padding-right: 6px;
}

/**
  * 操作栏样式
  */
.navDataSet .operation {
  height: 38px;
  line-height: 38px;
  width: 100%;
  border-bottom: #dedede 1px solid;
}

.navDataSet .operation .operation-list-member {
  height: 38px;
  cursor: pointer;
  text-align: center;
}

.navDataSet .operation .operation-list-member .tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 10px;
  height: 25px;
  line-height: 25px;
  color: black;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  z-index: 999;
  top: -50%;
  left: 60%;
}

.navDataSet .operation .operation-list-member:hover .tooltiptext {
  visibility: visible;
}

.navDataSet .operation .operation-list-member .operation-list-member-icon {
  color: #fff;
  line-height: 38px;
  font-size: 20px;
  text-align: center;
}

/**
  * 数据操作框样式
  */
.navDataSet .toolbar {
  height: calc(100% - 108px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/**
  * 属性页，标题样式
  */
.navDataSet .toolbar .toolbar-first .style .style-title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #1c3b3a;
  cursor: pointer;
}

/**
  * 表格样式
  */
.navDataSet .toolbar .toolbar-first .style .style-info table {
  width: 100%;
  border: 0;
  font-size: 12px;
}

/**
  * 坐标页，标题样式
  */
.navDataSet .toolbar .toolbar-second .position .position-title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: #1c3b3a;
  cursor: pointer;
}

/**
  * 坐标页，最外层列表样式
  */
.navDataSet .toolbar .toolbar-second .position .position-list {
  width: 100%;
  height: calc(100% - 35px);
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
}

/**
  * 坐标页，列表内层样式
  */
.navDataSet .toolbar .toolbar-second .position .position-list .position-list-member-title {
  background: #1c3b3a;
  height: 25px;
}

/**
  * 坐标页，滚动轴样式修改
  */
.navDataSet .toolbar .toolbar-second .position .position-list::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 3px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

.navDataSet .toolbar .toolbar-second .position .position-list::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 3px;
  background-color: rgb(97, 93, 93);
}

.navDataSet .toolbar .toolbar-second .position .position-list::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

/**
  * 样式页，标题样式
  */
.navDataSet .toolbar .toolbar-third .class-title {
  background-color: #1c3b3a;
  width: 100%;
  height: 30px;
  line-height: 28px;
  cursor: pointer;
}

/**
  * 底部样式
  */
.navDataSet .bottom {
  height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.navDataSet .bottom ul {
  background-color: rgba(63, 72, 84, 0.6);
  border-top: 1px solid #ddd;
  height: 30px;
}

.navDataSet .bottom .bottom-list-li {
  display: inline-block;
  width: 55px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  color: grey;
  box-sizing: border-box;
  cursor: pointer;
}

.navDataSet .bottom .active {
  color: #fff;
  background-color: rgba(63, 72, 84, 0.6);
  border: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  font-weight: bolder;
  margin-top: -1px;
}